<home-layout [user]="user">
  <div id="sidenav" class="d-flex flex-column">
    <div class="my-4">
      <a routerLink="dashboard" class="p-3 text-light text-decoration-none" [class.bg-primary]="dashactive" (click)="onChangeRoute()"
        ><fa-icon [icon]="dashboardIcon" size="lg"></fa-icon> Dashboard</a
      >
    </div>
    <div class="my-4">
      <a routerLink="inventory" class="p-3 text-light text-decoration-none" [class.bg-primary]="inventactive" (click)="onChangeRoute()"
        ><fa-icon [icon]="inventoryIcon" size="lg"></fa-icon> Inventory</a
      >
    </div>
    <div class="my-4">
      <a routerLink="department" class="p-3 text-light text-decoration-none" [class.bg-primary]="deptactive"  (click)="onChangeRoute()"
        ><fa-icon [icon]="departmentIcon" size="lg"></fa-icon> Department</a
      >
    </div>
    <div class="my-4">
      <a
        routerLink="maintenance"
        class="p-3 text-light text-decoration-none" [class.bg-primary]="maintactive" (click)="onChangeRoute()"
        ><fa-icon [icon]="maintenanceIcon" size="lg"></fa-icon>  Maintenance</a
      >
    </div>
    <div class="my-4">
      <a
        routerLink="personnel"
        class="p-3 text-light text-decoration-none" [class.bg-primary]="personactive" (click)="onChangeRoute()"
        ><fa-icon [icon]="personnelIcon" size="lg"></fa-icon>  Personnel</a
      >
    </div>
  </div>
  <router-outlet></router-outlet>
</home-layout>
